*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    min-height:100vh;
    background:linear-gradient(
        135deg,
        #2b2927b2,
        #172741,
        #853b3b
    );
    color:white;
}

/* Navbar */

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;

}

.logo{
    font-size:35px;
    color:#38bdf8;
    border-color: 0px 0px 0px 10px rgb(54, 25, 25);
}

nav ul{
    display:flex;
    gap:30px;
    list-style:none;
}

nav ul li a{
    text-decoration:none;
    color:white;
    font-size:18px;
    transition:0.4s;
}

nav ul li a:hover{
    color:#c78c1d;
    transform:translateY(-3px);
}

/* Hero Section */

.hero{
    display:flex;
    justify-content:space-around;
    align-items:center;
    min-height:85vh;
    padding:20px;
}

/* Text */

.content{
    max-width:550px;
    animation:slideLeft 1s ease;
}

.content h1{
    font-size:60px;
    margin-bottom:15px;
}

.content span{
    color:#38bdf8;
}

.content h3{
    font-size:32px;
    margin-bottom:20px;
}

.content p{
    font-size:18px;
    line-height:1.8;
}

button{
    margin-top:25px;
    padding:12px 30px;
    border:none;
    border-radius:30px;
    background:#38bdf8;
    color:white;
    font-size:18px;
    cursor:pointer;
    transition:0.4s;
}

button:hover{
    transform:scale(1.1);
}

/* Profile Image */

.image img{
    width:450px;
    height:390px;
    object-fit:cover;
    border-radius:35%;
    border:5px solid #38bdf8;
    box-shadow:0 0 40px #6f17d3;
    animation:float 4s ease-in-out infinite;
}

/* Floating Motion */

@keyframes float{
    0%{
        transform:translateY(0px);
    }

    50%{
        transform:translateY(-25px);
    }

    100%{
        transform:translateY(0px);
    }
}

/* Text Animation */

@keyframes slideLeft{
    from{
        opacity:0;
        transform:translateX(-80px);
    }

    to{
        opacity:1;
        transform:translateX(0);
    }
}

/* Responsive */

@media(max-width:768px){

    .hero{
        flex-direction:column-reverse;
        text-align:center;
    }

    .content h1{
        font-size:40px;
    }

    .image img{
        width:250px;
        height:250px;
        margin-bottom:30px;
    }

    nav{
        flex-direction:column;
        gap:20px;
    }

    nav ul{
        flex-wrap:wrap;
        justify-content:center;
    }
}